@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '../material-icons.css';

.text-shadow {
  text-shadow: 0 2px rgba(0, 0, 0, 0.16);
}

.full-screen {
  min-height: 100vh;
}

.center-screen {
  align-items: center;
}

.section {
  padding: 5% 0;
}

.section-title {
  margin-bottom: 2%;
}

#hero {
  background: #808080 center center no-repeat;
  background-size: cover;
}

#hero {
  position: relative;

  html.no-js & {
    background-image: url('../images/hero.jpg');
  }

  html.no-webp & {
    background-image: url('../images/hero.jpg');
  }

  html.webp & {
    background-image: url('../images/hero.webp');
  }
}

i:not([class*='accord-icon']) {
  font-size: 3rem !important;
  margin-bottom: 0.8rem;
}

.column {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.main-title {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.super-title {
  font-size: 3rem !important;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: complement(#5c5edc) !important;

  @media screen and (max-width: 600px) {
    font-size: 2.5rem !important;
  }
}

#hero {
  .col-ml-auto,
  .col-mr-auto {
    @media screen and (max-width: 600px) {
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }
}

.quo {
  @media screen and (max-width: 1280px) {
    display: none;
  }
}

.m-bottom {
  @media screen and (max-width: 1280px) {
    margin-bottom: 0.4rem;
  }
}

.card {
  flex: 1 1 auto;
  padding: 1rem;
}

.text-dark {
  color: #1c1d22;
}

.container {
  z-index: 2;
}

.overlay {
  z-index: 1;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
